.inner{
    overflow: hidden;
}

.inner{
    transition: all 1.1s ease;
    transition: opacity 0.5s;
}

.inner:hover {
    transform: scale(1.1);
}

textarea.form-control {
    height: 90px;
    resize: none;
 }

footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #535074;
    font-size: 15px;
}

.text-center {
    text-align: center!important;
}
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 65%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    margin-left: 18%;
}

.left{
    display: block;
    float:left; 
    width:33%;
}